body {
    font-family: Arial, sans-serif;
    background-color: #7683cc;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    color: #7683cc;
}